 
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");


:root{
 
    --first-color: hsl(354, 78%, 60%);
    --button-color: hsl(0, 0%, 17%);
    --button-color-alt: hsl(0, 0%, 21%);
    --card-color: hsl(0, 0%, 90%);
    --title-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 35%);
    --text-color-light: hsl(0, 0%, 55%);
    --body-color: hsl(206, 4%, 97%);
    --container-color: #fff;
    --border-color: hsl(0, 0%, 94%);
    --nav-color: hsl(0, 0%, 15%);
 
    

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--body-color);
}

 
.productos{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 20px;
    flex-wrap: wrap;
}
.productos>div{
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--container-color);
    width: 250px;
    height: 358px;
    position: relative;
    left: 16vw;
    padding: 10px;
    
}
.productos>div:hover img{
position: relative;
top: -5px;
}
.imagen>img{
    width: 200px;
}
.imagen{
    background-color:var(--card-color);
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
.productos>div>button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    color: black;
    position: absolute;
   top: calc(230px - 25px);
   right: 20px;
   border: 0px solid white;
   box-shadow: 2px 2px 10px var(--card-color);
   font-size: 25px;
}
.productos>div>button:hover{
    background-color: var(--first-color);
    color: var(--body-color);
}
.texto-medio{
    color: var(--title-color);
    font-size: 20px;
}
.texto-bajo{
    color: var(--text-color-light);
}

 
.categoria{
    display: flex;
    flex-direction: row;
    text-align: left;
    list-style: none;
    justify-content:center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
 
    
}
.categoria>li{
    margin-left: 5px;
}
.categoria>li>h3{
    color: var(--text-color);
    font-size: var(--tamanio-texto-medio);
    font-weight: bold;
}
.categoria>li>h3:hover{
cursor:pointer;
text-decoration: underline;
}

.categoria>li>span{
    color: var(--text-color);
    display: inline-block;
}

 
nav{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color:#fff;
    z-index: 1;

    
}
nav>ul{
display: flex;
flex-direction: row;
margin-left: 50px;
margin-right: 50px;
margin-top: 20px;
margin-bottom: 20px;

}
nav>ul a{
    color: var(--title-color);
    text-decoration: none;
    font-weight: bold;
    font-size: var(--tamanio-texto-medio);
 
}
nav>ul a:hover{
    color: var(--first-color);
}
nav>ul li{
margin-left: 10px;
list-style: none;
}
#carro>img{
    height: 30px;
    position: relative;
}
#articulosEnCarro{
    background-color: hsl(27deg 79% 48%);
    padding: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    font-size: 13px;
    top: 27px;
    right: 55px;
    z-index: 3;
    color: var(--container-color);
    display: flex;
    justify-content: center;
    align-items: center;

}
 
.carroInactivo{
    display: none;
    width: 26vw;
    
    
}
.carroInactivo>h2{
    margin-left:40px;
    margin-bottom: 40px;
}
.carrito{
    height: 100vh;
    position: fixed;
    right: 0;
    z-index: 2;
    top: 0;
    background-color: var(--container-color);
    display: inline-block;
    
}

#imgVacio{
    width: 30vw;
    padding: 5px;
    border-radius: 8px;
    margin-left: 10px;
    margin-right: 20px;
}


/*contenido productos----------*/
.contenido{
    padding-bottom: 25vh;
}
/*Carrito*/
.carroVacioNone{
    display: none;
}
.carroVacio{
    margin-left: 40px;
    
}
.carroVacio>img{
    width: 30vw;
}
.articulosAniadidos{
    display: flex;
    position: relative;
    flex-direction: column;
    
}
.tarjetaProducto{
    display: flex;
    flex-direction: row;
}
.articulosAniadidos img{
width: 80px;    
}
.articulosAniadidos>div>div>div{
   width: 18vw;
   display: flex;
   flex-direction: row;
   justify-content: space-between; 
   margin-right: 4vw;
}
.gris{
    color: var(--text-color);
}
.rojo{
    color: var(--first-color);
}
.botonUnidades{
    display: flex;
    border-radius: 5px;
    width: 25px;
    height: 25px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid rgb(193, 192, 192);
}
.btn_order {
    background-color: var(--first-color);
    color: var(--body-color);
    border: 1px solid var(--first-color);
    border-radius: 5px;
    padding: 14px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid var(--first-color);
    margin-top: 41px;
    margin-bottom: 13px;
    margin-left: 78px;
    /* margin-right: 8vh; */
    width: 300px;
   
}
.btn_order:hover{
    background-color: var(--body-color);
    color: var(--first-color);
    border: 1px solid var(--first-color);
    border-radius: 5px;
    padding: 14px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid var(--first-color);
    margin-top: 41px;
    margin-bottom: 13px;
    margin-left: 78px;
    /* margin-right: 8vh; */
    width: 300px;
   
}
.botonUnidades:hover{
cursor: pointer;
}

.articulosAniadidos i>img{
    margin-left: 50px;
    height: 37px;
    width: 37px;
    
}
.articulosAniadidos i>img:hover{
    cursor: pointer;
}
#x{
    font-size: 30px;
    position: relative;
    display: inline-block;
    font-weight: bold;
    margin: 20px;
}
#x:hover{
    cursor: pointer;
}
/*Home--------------------------*/
.home{
    position: relative;
    row-gap: 2.5rem;
}
.container {
    width: 100%;
    
    margin-right:10%;
    padding-top: 6rem;
    grid-template-columns: 1fr max-content;
    align-items: center;
  }

  .home__data {
    display: flex;
    flex-direction: column;
    justify-content: right;
    width: 50%;
    margin-left: 40px;
   
  }
  
  .grid {
    display: grid;
  }
  
  img {
    max-width: 100%;
    height: auto;
    border-radius: 2rem;
}
.home__img-bg {
    background-color: transparent;
    width: 55%;
    
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    justify-self: flex-end;
    transform: translateX(1.5rem);
}
.home__price {
    font-size: 2rem;
    font-weight: bold;
    color: var(--first-color);
    margin-bottom: 2rem;
}
.button--gray {
    background-color: hsl(0, 0%, 75%);
    color: var(--title-color);
}
.button {
    display: inline-block;
    background-color: var(--button-color);
    color: #FFF;
    padding: 1rem 2rem;
    font-weight: var(--font-medium);
    border-radius: 2rem;
    margin: 0.2rem;
    transition: .3s;
}
.home__btns {
    display: flex;
    align-items: center;
}
a {
    text-decoration: none;
}
.Home p{
    color: var(--text-color-light);
}
.Home h1{
    font-size: 40px;
}
.Home span{
    color: var(--first-color);
    font-size: var(--tamanio-texto-medio);
    font-weight: bold;
}
.btn1{
    background-color: var(--card-color);
    border: none;
    width: 110px;
    height: 50px;
    color: var(--button-color);
    font-size: 1rem;
    font-weight: bold;
}
.btn1:hover{
background-color: var(--text-color-light);
color: var(--container-color);
cursor: pointer;
}
.btn2:hover{
    background-color: var(--first-color);
    cursor: pointer;
}
.btn2{
    background-color: var(--button-color);
    width: 130px;
    height: 60px;
    color: var(--container-color);
    border: none;
    font-size: 1rem;
    font-weight: bold;
}
.fondoRojo{
    background-color: var(--first-color);
    width: 35vmax;
    height: 100vmin;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.fondoRojo>img{
    height: 80vmin;
}
.contenedorHome{
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
gap: 3vh;
}
.total{
    width: 25vw;
    display: flex;
    
    flex-direction: row;
    padding: 1vw;
    justify-content: space-between;
}
#items{
font-size: 16px;
color: var(--text-color);
font-weight: bold;
display: inline-block;
margin-left: 3vw;
}
#precio{
font-size: 20px;
color: var(--button-color);
font-weight: bold;
display: inline-block;
}


/*FOOTER------------------------------------------*/
footer{
    display: flex;
    height: 200px;
    flex-direction: row;
    background-color: var(--card-color);
    justify-content: space-evenly;
    padding-top: 56px;
}
}
footer h3{
    color: var(--text-color);
    margin-bottom: 10px;
    margin-top: 20px;
}
 
 
.hamburger img{
    display: none;
}
.divHamburger{
    display: none;
}
#indicador{
    display: none;
}
.ulHamburger{
    display: none;
}
 
.button:hover{
    background-color: var(--first-color);
    cursor: pointer;
}
.btnVacio{
    display: none;
}
@media screen and (max-width:600px) {
    .hamburger img{
        display: inline-block;
        width: 20px;
    }
    .navUno{
        display: none;
    }
nav{
    display: flex;
    justify-content: space-between;
}
.imagenes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.imagenesLeft a{
    display: inline-block;
    margin: 0;
}
.imagenesLeft{
    margin-left: 0;
    margin-right: 0;
}
.categoria{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
   
}
footer>ul{
    margin-left: 8vw;
}

.ulHamburger{/*Sola mente aparecerlo cuando se haga click*/
    display: none;
}
input:checked~ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    
}
.ulHamburger li,.ulHamburger a{
    margin: 0;
    padding: 0;
}
.carroInactivo{
    width: 90vw;
}

}
.bx {
    font-family: boxicons!important;
    font-weight: bold;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    display: inline-block;
    text-transform: none;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.bx-ul {
    margin-left: 2em;
    padding-left: 0;
    list-style: none
}

.bx-ul>li {
    position: relative
}

.bx-ul .bx {
    font-size: inherit;
    line-height: inherit;
    position: absolute;
    left: -2em;
    width: 2em;
    text-align: center
}
.bx-shopping-bag:before {
    content: "\ec0b"
}